html {
    background: #331f3a;
    color: rgb(206, 193, 193);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 75%; */
}

h1,
.h1{
  font-size: 4rem !important;
}
h2,
.h2{
  font-size: 3.5rem !important;
}
h3,
.h3{
  font-size: 2.5rem !important;
}
h4,
.h4{
  font-size: 2.25rem !important;
}
h5,
.h5{
  font-size: 2.125rem !important;
}

p, .p {
  font-size: 2rem !important;
  line-height: 1.6 !important;
  max-width: 80ch;
}

#banner{
    font-size: 5.5rem !important;
    margin-bottom: 0;
}

#tagline{
    font-size: 3.75rem !important;
    margin-top: 0;
}