html {
    background: #331f3a;
    color: rgb(206, 193, 193);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 75%; */
}

.content{
    padding-left: 10vw;
    padding-right: 8vw;
    
}

.nav{
    display: block;
    position:fixed;
    top: 0;
    right: 0;
    margin: auto;
}

 .nav-link{
    font-size: 2rem;
    color:bisque;
    text-decoration: none;
    margin-right: 1rem;
 }
 .nav-link:hover{
    text-decoration: underline;
 }
 .nav-link:active{
    color:skyblue
 }

h1,
.h1{
  font-size: 4rem !important;
}
h2,
.h2{
  font-size: 3.5rem !important;
}
h3,
.h3{
  font-size: 2.5rem !important;
}
h4,
.h4{
  font-size: 2.25rem !important;
}
h5,
.h5{
  font-size: 2.125rem !important;
}

p, .p {
  font-size: 2rem !important;
  line-height: 1.6 !important;
  max-width: 80ch;
}

#banner{
    font-size: 5.5rem !important;
    margin-bottom: 0;
}

#tagline{
    font-size: 3.75rem !important;
    margin-top: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


